.image {
    z-index: -1;
    right:25%;
    top:0%;
    height:5rem;
    padding-bottom: 2rem;
    margin:0;
    object-fit:cover;
    border-radius: 0.25rem;
    opacity:0.5;
}

.card {
    /* flex:1 1 0 ; */
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    min-height: 16rem;
    width: 10rem;
    border-radius: 0.25rem;
    border-color: rgba(0,0,0,.1);
    border-style: solid;
    border-width: 1px;
    color: black;
    border-radius: 5%;
    display: flex;
    cursor: pointer;
    text-align : center;
    flex-direction: column;
    justify-content:center;
    align-items: center;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.card:hover {
    transform: scale(1.05); 
}

.card > * {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    margin:0.2rem;
}

