.container {
    /* center */
    margin-right: auto;
    letter-spacing: 0.1rem;
    margin-left: auto;
    /* measure   */
    max-width: 40rem;
    line-height: 1.7rem;
    /* pa3 */
    padding: 2rem;
}

.heading {
    padding-top: 2rem;
    line-height: 4rem;
    font-size: 2rem;
    font-weight: 400;
}