.card {
    position: relative;
    /* cursor: pointer; */
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    color: black;
    display: relative;
    background-color: white;
    text-align: center;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: center; */
    overflow: hidden;
    width: 12%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.card:hover {
    cursor: pointer;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width:1466px) {
    .card {
        width: 12%;
    }
}

@media screen and (max-width:1024px) {
    .card {
        width: 25%;
    }
}

@media screen and (max-width:768px) {
    .card {
        width: 35%;
    }
}


@media screen and (max-width:568px) {
    .card {
        width: 40%;
    }
}

@media screen and (max-width:400px) {
    .card {
        width: 80%;
    }
}