@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
    letter-spacing: 0.06rem;
    line-height: 1.3rem;
    font-family: 'Montserrat', sans-serif;
        /* background-color: black; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .App {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  